body{    
    font-family: '標楷體';      
  }   
#website{
    width: 980px;
    margin: 0 auto;
}
#content{
    color: #fefefa;
    padding: 20px;
    width: 980px;
    height: 900px;
    background-color: #888;
    border-radius: 10px;  
    font-size: 20px;
}
.back{
  position: fixed;
  top: 10px;
  left: 10px;
  width: 20px;height: 20px;
  padding: 8px;
  font-size: 18px;  
  background-color: #fff;
  text-align: center;
  border-radius: 100%;
  border: 2px solid #535c68;
  cursor: pointer;
  text-decoration: none;
  color: #535c68;
  opacity: .5;
}
.back:hover{opacity: 1;}